<h2> Add a Room </h2>

<form action="/rooms" method="post">
  <label for="room-name"> Room Name: </label>
  <input id="room-name" type="text" name="roomName">
  <br>

  <label for="room-description"> Description: </label>
  <textarea id="room-name" type="text" name="roomDescription">
  </textarea>
  <br>

  <label for="room-url"> Link to the Room: </label>
  <input id="room-url" type="url" name="roomUrl">
  <br>

  <button> Save This Room </button>
</form>
