<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<% if (typeof currentUser === 'object') { %>
  <p> Hello, <%= currentUser.fullName %> </p>
  <!-- if there's a user logged in -->
<% } else { %>
  <h3> Why don't you log in? </h3>
  <a href="/login"> Log In Now. </a>
  <!-- if there's not a user logged in -->
<% } %>
