<h2> Log In </h2>

<form id="form" action="/login" method="post">
  <label for="username"> Username: </label>
  <input id="username" type="text" name="loginUsername">
  <br>

  <label for="password"> Password: </label>
  <input id="password" type="password" name="loginPassword">
  <br>
  <br>

  <button> Log In </button>
</form>
