<h2> Sign Up </h2>

<p> Sign up for this awesome app. </p>

<!-- we use typeof here to avoid an error since the variable
sometimes doesn't exist -->
<% if (typeof messageForDumbUsers === 'string') { %>
  <p class="error-message"> <%= messageForDumbUsers %> </p>
<% } %>

<form id="form" action="/signup" method="post">
  <label for="full-name"> Full Name: </label>
  <input id="full-name" type="text" name="signupFullName"
         placeholder="Alan Turing">
  <br>

  <label for="username"> Username: </label>
  <input id="username" type="text" name="signupUsername"
         placeholder="turingator">
  <br>

  <label for="password"> Password </label>
  <input id="password" type="password" name="signupPassword"
         placeholder="*******">
  <br>
  <br>

  <button> Sign Up Now </button>
</form>
